{% extends 'scorebuzz/master.html' %}
{% load static %}

{% block title %}
    <title>
        ScoreBuzz by Siddhant
    </title>
{% endblock %}

{% block content %}

    <div class="row">
      <div  class="col-sm-12" style="padding-left:10px; font-size:large; vertical-align:top">
        <table width="100%">
          <tr>
            <td width="50%" style="text-align: left">
              <strong style="color:#000">ScoreBuzz</strong>
            </td>
            <td width="50%" style="text-align: right">
              <a href="http://www.geekysid.com"><strong style="color: #000;">GeekySid</strong></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4 style="text-align:center; font-size:large; color: #333333;">Live or Recently Concluded Matches</h4>
      </div>
    </div>
    <div class="row">
        {% if live_match_details != null %}
            {% for live_match in live_match_details %}
              {% if ' ' in live_match.match_current_status %}

              {% else %}
                <div class="col-sm-3 col-lg-3">
                    <div class="panel panel-info" data-effect="helix">
                      <div class="panel-heading">
                        {% if live_match.match_current_status == 'ABANDONED' %}
                          <span style="font-weight:bold; font-size:12px">{{live_match.match_title}} </span>
                          {% if live_match.match_current_status == 'LIVE' %}
                          <span style="font-weight:bold; font-size:12px; color:Green">({{live_match.match_current_status}})</span>
                          {% elif live_match.match_current_status == 'RESULT' %}
                          <span style="font-weight:bold; font-size:12px; color:Red">({{live_match.match_current_status}})</span>
                          {% else %}
                          <span style="font-weight:bold; font-size:12px; color:Orange">({{live_match.match_current_status}})</span>
                          {% endif %} 
                        {% else %}
                        <a href="scorecard?link={{live_match.match_link}}">
                          <span style="font-weight:bold; font-size:12px">{{live_match.match_title}} </span>
                          {% if live_match.match_current_status == 'LIVE' %}
                          <span style="font-weight:bold; font-size:12px; color:Green">({{live_match.match_current_status}})</span>
                          {% elif live_match.match_current_status == 'RESULT' %}
                          <span style="font-weight:bold; font-size:12px; color:Red">({{live_match.match_current_status}})</span>
                          {% else %}
                          <span style="font-weight:bold; font-size:12px; color:Orange">({{live_match.match_current_status}})</span>
                          {% endif %} 
                        </a>
                        {% endif %}
                      </div>
                      <div class="panel-body">
                        <table>
                          <tr>
                            <td colspan=3>
                              <span style="font-size:10.5px">{{live_match.match_heading}}</span>
                            </td>
                          </tr>
                          <tr>
                            <td style="height:5px"> 
                            </td>
                          </tr>
                          {% for teams in live_match.match_score %}
                          <tr>
                            <td width="16.5%">
                              <img src="{{teams.0}}" />
                            </td>
                            <td style="width:25%; padding-left: 10px;">
                              <span style="font-size:10.5px"><strong>{{teams.1}}</strong></span>
                            </td>
                            <td style="width:58.5%; padding-left: 5px;">
                              <span style="font-size:10.5px"><strong>{{teams.2}}</strong></span>
                            </td>
                          </tr> 
                          {% endfor %}
                        </table>
                      </div>
                      <div class="panel-footer">
                        <span style="font-size:10.5px">{{live_match.match_status}}</span>
                      </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                  </div>
                  <div class="row">
                {% endif %}
              {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
{% endblock %}

