asgiref==3.2.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
decorator==4.0.11
Django==3.0.1
django-user-agents==0.4.0
emoji==0.5.4
idna==2.8
imageio==2.1.2
InstagramAPI==1.0.2
moviepy==0.2.3.2
numpy==1.18.1
pandas==1.0.1
Pillow==8.3.2
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
requests==2.11.1
requests-toolbelt==0.7.0
scrapy-user-agents==0.1.1
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
tqdm==4.11.2
ua-parser==0.9.0
urllib3==1.25.8
user-agents==2.1
