{% extends 'master.html' %}

{% block content %}
    {% if validity == 'true' %}

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        
                        <div class="preview-pic tab-content">
                        <img src="{{product.image.url}}" title="{{product.image.url}}" id="imagepr"/>
                        </div>
                        
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title" id="namepr" title="pr{{product.id}}">{{product.name}}</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no" title="{{product.title}}" id="titlepr"><b>Category: {{product.category}}</b></span>
                        </div>
                        {% if product.desc|length > 200 %}
                        <p class="product-description" title="{{product.desc}}" id="descpr">{{product.desc|slice:"0:300"}}... <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productDesc">Read More</button> </p>
                        <div class="modal fade" id="productDesc" tabindex="-1" role="dialog" aria-labelledby="productDescTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="productDescTitle">{{product.name}}</h5>
                                </div>
                                <div class="modal-body">
                                    {{product.desc}}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                        </div>
                        {% else %}
                        <p class="product-description" title="{{product.desc}}" id="descpr">{{product.desc}}</p>
                        {% endif %}
                        <h6 class="price" title="{{product.price}}" id="pricepr">Price: <span>${{product.price}}</span></h6>
                        {% if product.discount > 0 %}
                        <h6 class="price" title="{{product.discount}}" id="discountpr">Discount: <span>${{product.discount}}</span></h6>
                        {% else%}
                        <h6 class="price" title="{{product.discount}}" id="discountpr"></h6>
                        {% endif %}
                        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                        <div class="action" id="add_to_cart_div">
                            <button class="btn btn-primary" type="button" id="add_to_cart" title="pr{{product.id}}">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div>No Product Found</div>
    {% endif %}
{% endblock %}

{% block css %}
<style>

/*****************globals*************/
    body {
        font-family: 'open sans';
        overflow-x: hidden; }
    
    img {
        max-width: 100%; }
  
    .preview {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;}

    @media screen and (max-width: 506px) {
    .preview {
        margin-bottom: 20px; } }

    .preview-pic {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
    
    .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
    .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }
  
    .tab-content {
        overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
    .card {
        margin-top: 50px;
        background: #eee;
        padding: 3em;
        line-height: 1.5em; }
    
    @media screen and (min-width: 997px) {
        .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    
    .details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
    
    .colors {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
    
    .product-title, .price, .sizes, .colors {
        text-transform: UPPERCASE;
        font-weight: bold; }
    
    .checked, .price span {
        color: #ff9f1a; }
    
    .product-title, .rating, .product-description, .price, .vote, .sizes {
        margin-bottom: 15px; }
    
    .product-title {
        margin-top: 0; }
    
    .size {
        margin-right: 10px; }
        .size:first-of-type {
        margin-left: 40px; }
    
    .color {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        height: 2em;
        width: 2em;
        border-radius: 2px; }
        .color:first-of-type {
        margin-left: 20px; }
    
    .add-to-cart, .like {
        background: #ff9f1a;
        padding: 1.2em 1.5em;
        border: none;
        text-transform: UPPERCASE;
        font-weight: bold;
        color: #fff;
        -webkit-transition: background .3s ease;
                transition: background .3s ease; }
        .add-to-cart:hover, .like:hover {
        background: #b36800;
        color: #fff; }
    
    .not-available {
        text-align: center;
        line-height: 2em; }
        .not-available:before {
        font-family: fontawesome;
        content: "\f00d";
        color: #fff; }
    
    .orange {
        background: #ff9f1a; }
    
    .green {
        background: #85ad00; }
    
    .blue {
        background: #0076ad; }
    
    .tooltip-inner {
        padding: 1.3em; }
    
    @-webkit-keyframes opacity {
        0% {
        opacity: 0;
        -webkit-transform: scale(3);
                transform: scale(3); }
        100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1); } }
    
    @keyframes opacity {
        0% {
        opacity: 0;
        -webkit-transform: scale(3);
                transform: scale(3); }
        100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1); } }
    
  /*# sourceMappingURL=style.css.map */
</style>
{% endblock %}

{% block js %}
<script>
    if(localStorage.getItem('cart') == null){
        var cart = {}
        updateLocalStorageWithCart(cart)
    }
    else{
        prod_id = document.getElementById('namepr').title
        
        cart = fetchCart()

        if(prod_id in cart){
            update_adtocartButton()
        }
        else{

        }
    }

    
    popoverUpdate_cart()


    $('#add_to_cart_div').on('click','button#add_to_cart', function() {
        console.log('clicked')
        cart = fetchCart()
        prod_id = document.getElementById('namepr').title
        
        if (cart[prod_id] != null){
            
            update_adtocartButton()
        }
        else{
            var name = document.getElementById('namepr').innerHTML
            var price = document.getElementById('pricepr').title
            var discount = document.getElementById('discountpr').title
            var image = document.getElementById('imagepr').title
            var desc = document.getElementById('descpr').title
            
            cart[prod_id] = [name.trim(), 1, price, discount, image, desc]
            updateLocalStorageWithCart(cart)
            popoverUpdate_cart()
            update_adtocartButton()
            console.log(cart)

        }
    })


    function update_adtocartButton(){
        cart = fetchCart()
        prod_id = document.getElementById('namepr').title
        if (cart[prod_id] != null){
            var strButton = ""
            document.getElementById('add_to_cart_div').innerHTML = "<button id='minus" + prod_id + "' class='btn btn-outline-secondary minus'> - </button>" +
                                                                    "<span id='val" + prod_id + "' class='mx-2'>" + cart[prod_id][1] + "</span>" +
                                                                    "<button id='plus" + prod_id + "' class='btn btn-outline-secondary plus'> + </button>"
        }
        else{
            document.getElementById('add_to_cart_div').innerHTML = `<button class="btn btn-primary" type="button" id="add_to_cart" title="`+prod_id+`">Add To Cart</button>`
        }
    }


    $('#add_to_cart_div').on('click', 'button.plus', function () {

        prod_id = this.id.toString().slice(4);   // fetching id of the clicked element and then using slice function to get desired part of the id
        
        cart = fetchCart()

        if (cart[prod_id] == null) {  // checking if cart dictionary has any key with same value as id of button clicked.
            var discount = parseFloat(document.getElementById('discountpr').title);
            var price = document.getElementById('pricepr').title;
            var name = document.getElementById('namepr').innerHTML;
            var desc = document.getElementById('descpr').title;
            var image = document.getElementById('imagepr').title;
            qnty = 1
            //cart[prod_id] = {'name': name.trim(), 'qnty': qnty, 'price': price, 'discount': discount}
            cart[prod_id] = [name.trim(), qnty, price, discount, image, desc];
        }
        else {
            cart[prod_id][1] = cart[prod_id][1] + 1;    // decreasing the ordered quantity of the product in the cart by 1
            document.getElementById('val' + prod_id).innerHTML = cart[prod_id][1];   // updating the ordered quantity in the product description
        }
        updateLocalStorageWithCart(cart)   // updating cart dictionary in the local storage

        popoverUpdate_cart();   // updating the ordered quantity in the popup cart
    })


    $('#add_to_cart_div').on('click', 'button.minus', function () {

        prod_id = this.id.toString().slice(5);   // fetching id of the clicked element and then using slice function to get desired part of the id

        cart = fetchCart()
        if (cart[prod_id] == null) {
            update_adtocartButton()
        }
        else {  
            cart[prod_id][1] = cart[prod_id][1] - 1;    // decreasing the ordered quantity of the product in the cart by 1
            cart[prod_id][1] = Math.max(0, cart[prod_id][1]);   // making sure user cant reduce the ordered quantity less the 0
            document.getElementById('val' + prod_id).innerHTML = cart[prod_id][1];   // updating the ordered quantity in the product description

            if (cart[prod_id][1] == 0) {
                delete cart[prod_id];
            }

            updateLocalStorageWithCart(cart)   // updating cart dictionary in the local storage

            popoverUpdate_cart();   // updating the ordered quantity in the popup cart
            update_adtocartButton()
        }
    })


    // function to display products in cart popover
    function popoverUpdate_cart() {
        document.getElementById('cart').innerHTML = numberOfItemsInCard();
        cart = fetchCart()
        items_in_cart = numberOfItemsInCard()

        if (items_in_cart == 0) {
            document.getElementById('popcart').setAttribute('title', "<h6>There are no items in your cart</h6>");
            document.getElementById('popcart').setAttribute('data-content', "");
        }
        else {
            var popStr = "<div class='popover-div'>";
            var i = 1

            for (item in cart) {
                if (cart[item][0].length > 20) {
                    var name = cart[item][0].slice(0, 20) + "...";
                }
                else {
                    var name = cart[item][0];
                }

                var prod_id = item.slice(2, );

                popStr = popStr + "<div class='row mx=2 my-2'><div class='col-md-2'>" +
                    "<a href='product?id=" + prod_id + "'><img src='" + cart[item][4] + "' width='25' height='35' /> </a></div><div class='col-md-10'>" +
                    name + "<br />" +
                    cart[item][1] +
                    " pcs. @ $" +
                    cart[item][2] + " - " +
                    " Discount " +
                    cart[item][3] + "%" +
                    " <br /></div></div>";

                i = i + 1;
            }
            popStr = popStr + "<div class='mt-3' style='text-align:center'><button class='btn btn-primary' onClick='cartClear()'>Clear Cart</button></div>"
            popSts = popStr + "</div>"
            document.getElementById('popcart').setAttribute('title', "<h6>There are " + numberOfItemsInCard() + " items in your cart</h6>");
            document.getElementById('popcart').setAttribute('data-content', popStr);
        }
        $('#popcart').popover('show');
    }


    // function that returns items in cart
    function numberOfItemsInCard() {
        var items_in_cart = 0;
        if (localStorage.getItem('cart') == null) {
            return 0;
        }
        else {
            cart = fetchCart();
            for (item in cart) {
                items_in_cart = items_in_cart + cart[item][1];
            }
            return items_in_cart;
        }
    }


    //function that returns the cart
    function fetchCart() {
        cart = JSON.parse(localStorage.getItem('cart'));
        return cart;
    }


    // updating localStorage with cart
    function updateLocalStorageWithCart(cart) {
        localStorage.setItem('cart', JSON.stringify(cart));
    }


    // clearing cart
    function cartClear() {
        cart = JSON.parse(localStorage.getItem('cart'))

        localStorage.clear()
        cart = {}
        popoverUpdate_cart()
    }

</script>
{% endblock %}
