{% extends 'account/riddle_master.html' %}
{% load static %}

    {% block title %}
	<title>Riddle Champ - User Registeration Form</title>
    {% endblock %}


    {% block body %}
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">

                <div class="flex-m w-full p-b-33">
                    <span id="message" class="txt1" style="font-size:larger">
                        {% if Flag == 'Password_Reset' %}
                        Password recvory link is sent to your email address, <span style="color:rosybrown; font-size:large">{{email}}</span>. Kindly visit the linkt to rest your password.<p> </p>
                        {% endif %}

                        {% if Flag == "RP_ERRROR" %}
                            <span style="font-size:larger">Unable to Reset Password.<br />Reason: <span style="color:red">{{error}}</span></span>
                        {% endif %}
                    </span>
                </div>

                {% if user.is_authenticated %}
                {% else %}
                    <form class="login100-form validate-form" method=post>
                        {% csrf_token %}
                        <span class="login100-form-title p-b-59">
                            Reset Password
                        </span>

                        <div class="flex-m w-full p-b-33" hidden=true>
                            <span id="warning" class="txt1" style="color: red;">
                                
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Username is required">
                            <span class="label-input100">Enter New Password</span>
                            <input class="input100" type="password" id="password" name="password" 
                                placeholder="New Password...">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button id="btnClick" class="login100-form-btn" 
                                {% if Flag == "RP_ERRROR" %}
                                disabled
                                {% endif %} >
                                    Reset Password
                                </button>
                            </div>
                            <a href="login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                                Sign In
                                <i class="fa fa-long-arrow-right m-l-5"></i>
                            </a>
                        </div>
                    </form>
                {% endif %}
			</div>
		</div>
	</div>
    {% endblock %}


    {% block scripts %}
	<script>
        // function for change cursor to wait on ajax call
		$(document).ajaxStart(function() {
			$(document.body).css({'cursor' : 'wait'});
		}).ajaxStop(function() {
			$(document.body).css({'cursor' : 'default'});
		});
		
        // Read a page's GET URL variables and return them as an associative array.
        function getUrlVars()
        {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
        
        // Validating password
        function password_validation(){

            regExp = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}$/
            valid_pass = regExp.test($("#password").val())

            if (valid_pass == false){
                $("#password").focus()
                swal({
                    title: "Invalid Password",
                    text: "The string must contain at least 1 uppercase, 1 lowercaser alphabet and at least 1  numeric character and should be more the 5 characters long",
                    icon: "error",
                    button: "Ok",
                });
                return false
            }
            else{
                return true
            }
        }

        // validating password
        $("#password").focusout(function(){ 
            flag = password_validation()
        });

        // PASSWORD RECOVERY LINK
        $("#btnClick").click(function(e){

            e.preventDefault();
            
            if(password_validation()){
                $("#btnClick").attr("disabled", true)
                $("#btnClick").html("Please Wait")
    
                data = {
                    'password': md5($("#password").val()),
                    'token': getUrlVars()["token"],
                    'email': getUrlVars()["email"]
                }
            
                $.ajax({
                    type: "POST",
                    url: "set_new_password",
                    data: data,
                    headers: {'X-CSRFToken': '{{ csrf_token }}'}, // for csrf token
                    dataType: 'json',
                    success: function(Flag) {
                        if(Flag.successFlag == true){
                            swal({
                                title: "Successfully",
                                text: "New Password is changed. Please login.",
                                icon: "success",
                                button: "Ok",
                            });
                            setTimeout(function () {
                                window.location.href  = "/account/login"
                            }, 3000);
                        }
                        else {
                            if (Flag.error == "Invalid Request"){
                                window.location.href = '/account/login/s/8be6'
                            }
                            swal({
                                title:Flag.error,
                                text: Flag.message,
                                icon: "error",
                                button: "Ok",
                            });
                            $("#btnClick").removeAttr("disabled")
                            $("#btnClick").html("Reset Password")
                            document.getElementById('warning').innerHTML = Flag.error

                            setTimeout(function () {
                                
                            }, 5000)
                        }
                    }
                });
            }

		});

	</script>
    {% endblock %}