{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'home/css/alert_sid.css' %}" rel="stylesheet">

    <title>
        Den {% if user.is_authenticated %} - {{ userProfile.name }} {% endif %}
    </title>

    <style>
        .bg_color {
            background: #191D22;
            /* background: -webkit-linear-gradient(bottom, #85CAF5, #D9EAF4);
				background: -o-linear-gradient(bottom, #85CAF5, #D9EAF4);
				background: -moz-linear-gradient(bottom, #85CAF5, #D9EAF4);
				background: linear-gradient(bottom, #85CAF5, #D9EAF4); */
        }
    </style>

    <!-- chart.js files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet'
        type='text/css'>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet">

    <!-- jQuery files -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>

<body>

    <!-- Display only for mobile and tablet device -->
    {% if MOBILE_TABLET_FLAG == 'true' %}
    <div class="alert_sid">
        <span class="closebtn_sid" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>The UI might look out of place on mobile</strong>.... This App is best viewed on Desktop or Laptop.
    </div>
    {% endif %}

    {% if user.is_authenticated %}

    <div class="bg_color" style="width:100%; height:550px; position:absolute;">
    </div>

    <div class="jumbotron">

        <!-- DEN DETAILS STARTS -->
        <div class="container">
            <div class='row'>
                <div class='col-sm-12 text-center mt-10' style='color:white'>
                    <div>
                        <p>
                            <img src="{{de.avatar.url}}"
                                style="border-radius: 50%; border: 7px solid #F73E40; width:150px;"
                                title="{{den.name}}" />
                        </p>
                    </div>
                    <p><a href="#" style="color:white; font-size:x-large;">{{den.name}}</a></p>
                    <p style="color:white; font-size:medium;">{{userProfile.desc}}</p>
                    <!-- WORK, LOCATION, JOINED -->
                    <div width="100%" style="text-align: center;">
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto mt-3">
                                <img src="{% static 'octaprofile/images/work.png' %}" style="height:25px;" />
                                &nbsp;&nbsp; {% if den.started_at == '' %} Not Mentioned {% else %}
                                {{den.started_at }} {% endif %}
                            </div>
                            <div class="col-md-auto mt-3">
                                <img src="{% static 'octaprofile/images/location.png' %}" style="height:25px;" />
                                &nbsp;&nbsp; {% if den.is_active == True %} Active Den {% else %}
                                {{den.ended_at}} {% endif %}
                            </div>
                            <div class="col-md-auto mt-3">
                                <img src="{% static 'octaprofile/images/calendar.png' %}" style="height:25px;" />
                                &nbsp;&nbsp; {% if den.next_riddle_on == None %} Next Riddle Soon {% else %}
                                {{den.next_riddle_on}} {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="mt-4" width="100%" style="text-align: center;">
                        <div class="row justify-content-md-center">
                            <div class="mx-2 my-2"
                                style="border-radius:5px;height:90px; background-color:#23282E; width:150px;">
                                <div class="mx-2 my-2">
                                    <p style="font-size: 14px; color:#ddd; letter-spacing: 1px; ">MY RANK</p>
                                    <p style="font-size: 30px; color:#fff"><b>{{den.UserRank}}</b></p>
                                </div>
                            </div>
                            <div class="mx-2 my-2"
                                style="border-radius:5px;height:90px; background-color:#23282E; width:150px;">
                                <div class="mx-2 my-2">
                                    <p style="font-size: 14px; color:#ddd; letter-spacing: 1px;">MY SCORE</p>
                                    <p style="font-size: 30px; color:#fff">{{den.UserScore}}</p>
                                </div>
                            </div>
                            <div class="mx-2 my-2"
                                style="border-radius:5px;height:90px; background-color:#23282E; width:150px;">
                                <div class="mx-2 my-2">
                                    <p style="font-size: 14px; color:#ddd; letter-spacing: 1px;">TOTAL HUNTERS</p>
                                    <p style="font-size: 30px; color:#fff">{{den.TotalHunters}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DEN DETAILS END  -->


        <!-- SPACE DIV STARTS -->
        <div class="container">
            <div class='row mx-2 my-2 align-middle'>
                <div class="col-sm-12 align-middle" style="height:50px">
                    <p></p>
                    <!-- <hr style="width:100%; border: 1px solid #222;" /> -->
                </div>
            </div>
        </div>
        <!-- SPACE DIV ENDS -->


        <!-- DEN STATS START -->
        <div class="container">
            <div class='row my-2  align-middle'>

                <!-- MEMBERS LIST WITH SCORE STARTS -->
                <div class="col-lg-4 col-md-6 col-sm-12" style="min-height:440px">
                    <!-- Nav tabs -->
                    <div class="tm-home-box-1">
                        <ul class="nav nav-tabs tm-white-bg" role="tablist" id="hotelCarTabs">
                            <li role="presentation" class="active">
                                <a href="#hotel" aria-controls="hotel" role="tab" data-toggle="tab">Member's Score</a>
                            </li>
                            <li role="presentation">
                                <a href="#car" aria-controls="car" role="tab" data-toggle="tab">Member's List</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Scoreboard -->
                            <div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
                                <div class="tm-search-box effect2">
                                    <form action="#" method="post" class="hotel-search-form">
                                        <div class="tm-form-inner">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="">-- Select Hotel -- </option>
                                                    <option value="shangrila">Shangri-La</option>
                                                    <option value="chatrium">Chatrium</option>
                                                    <option value="fourseasons">Four Seasons</option>
                                                    <option value="hilton">Hilton</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input type='text' class="form-control"
                                                        placeholder="Check-in Date" />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker2'>
                                                    <input type='text' class="form-control"
                                                        placeholder="Check-out Date" />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group margin-bottom-0">
                                                <select class="form-control">
                                                    <option value="">-- Guests -- </option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5p">5+</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group tm-yellow-gradient-bg text-center">
                                            <span class="tm-yellow-btn">Members</span>
                                        </div> -->
                                        <div class="form-group tm-yellow-gradient-bg text-center">
                                            <button type="submit" name="submit" class="tm-yellow-btn" disabled>Den
                                                Scorecard</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Members -->
                            <div role="tabpanel" class="tab-pane fade in activetm-white-bg" id="car">
                                <div class="tm-search-box effect2"
                                    style="text-align: center; background-color: #F8F8AE; ">
                                    <div class="tm-form-inner" style=" display: inline-block; margin: 0 auto;">
                                        <!-- Member Crousel Stats -->
                                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
                                            style="width: 294px">
                                            <!-- Items -->
                                            <div class="carousel-inner" style="max-height:255px; min-height:250px; ">
                                                {% for hunter in hunters%}
                                                {% if forloop.first %}
                                                <div class="carousel-item active">
                                                    {% else %}
                                                    <div class="carousel-item">
                                                        {% endif %}
                                                        <a>
                                                            <img src="{{hunter.avatar.url}}" alt="{{hunter.name}}"
                                                                class="tm-about-box-1-img" style="width: 150px">
                                                        </a>
                                                        {{hunter.name}}
                                                        {% if hunter.admin == True %}
                                                        <span>(Admin)</span>
                                                        {% else %}
                                                        <span>(Hunter)</span>
                                                        {% endif %}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <!-- Crousel left (previous) button -->
                                                <a class="carousel-control-prev" href="#carouselExampleIndicators"
                                                    role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <!-- Crousel right (next) indicator button -->
                                                <a class="carousel-control-next" href="#carouselExampleIndicators"
                                                    role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                            <!-- Member Crousel Ends -->
                                        </div>
                                        <div class="form-group tm-yellow-gradient-bg text-center">
                                            <button type="submit" name="submit" class="tm-yellow-btn" disabled>Den
                                                Hunter</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TOP HUNTER LIST -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
                            <img src="{% static 'img/index-01.jpg' %}" alt="image" class="img-responsive">
                            <div class="form-group tm-green-gradient-bg text-center">
                                <button type="submit" name="submit" class="tm-green-btn" disabled>Best Hunter
                                    {{den.TopHunter}}</button>
                            </div>
                        </div>
                    </div>

                    <!-- Best Ration of Wrong/Wrong Answer Ration -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-right">
                            <img src="{% static 'img/index-02.jpg' %}" alt="image" class="img-responsive">
                            <div class="form-group tm-red-gradient-bg text-center">
                                <button type="submit" name="submit" class="tm-red-btn" disabled>Best Hunter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DEN STATS END -->


        <!-- SPACE DIV STARTS -->
        <div class="container">
            <div class='row mx-2 my-2 align-middle'>
                <div class="col-sm-12 align-middle" style="height:50px">
                    <p></p>
                    <!-- <hr style="width:100%; border: 1px solid #222;" /> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class='row mx-2 my-2 align-middle'>
                <div class="col-sm-12 align-middle" style="height:50px">
                    <p></p>
                    <!-- <hr style="width:100%; border: 1px solid #222;" /> -->
                </div>
            </div>
        </div>
        <!-- SPACE DIV ENDS -->


        <!-- PUZZELS SECTION STARTS -->
        <div class="container" name="repository">

            <!-- PUZZELS HEADING STARTS -->
            <div class="tm-section-header">
                <div class="col-lg-4 col-md-2 col-sm-12">
                    <hr>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-12">
                    <h2 class="tm-section-title" style="color:#23282E">PUZZELS</h2>
                </div>
                <div class="col-lg-4 col-md-2 col-sm-12">
                    <hr>
                </div>
            </div>
            <!-- PUZZELS HEADING ENDS -->

            <!-- SPACE DIV STARTS -->
            <div class="container">
                <div class='row mx-2 my-2 align-middle'>
                    <div class="col-sm-12 align-middle" style="height:50px">
                        <p></p>
                        <!-- <hr style="width:100%; border: 1px solid #222;" /> -->
                    </div>
                </div>
            </div>
            <!-- SPACE DIV ENDS -->

            <!-- PUZZLES BLOCK STARTS -->
            <div class="collapse show" name="SortBySize" id="SortBySize">
                <div class="container">
                    <div class="row">
                        <!-- Coming soon puzzle -->
                        <!-- <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xxs-12">
                            <div style="z-index:1; position:absolute; ;border:1px solid #D8D8D8; height:100%; min-width: 254px; max-width:255px; text-align: center;
                                display: table" id="countdown_timer_div" onload="countdown_calculator()" ;
                                title="Test">
                                <div id="countdown_timer_text" data="Hello"
                                    style="display: table-cell; vertical-align: middle;"></div>
                            </div>
                            <div class="tm-home-box-2"
                                style="min-width: 254px; max-width:255px; border:1px solid #D8D8D8; opacity: 0.3; position:absolute">
                                <img src="{{riddle.media.url}}" alt="image" class="img-responsive">
                                <div>
                                    <h3><strong>Puzzle # {{riddle.riddle_id}}</strong></h3
                                        style="min-height:200px; max-height:200px; overflow: auto;">
                                    <p class="tm-date" style="min-height:100px; max-height:100px; overflow: auto;">
                                        Level: {{riddle.riddle_level.name}}
                                        <br />
                                        Type: {{riddle.type_riddle.name}}
                                    </p>
                                </div>
                                <!-- Puzzle Score and all -->
                                <!-- <div class="tm-home-box-2-container">
                                    <a href="#" class="tm-home-box-2-link">
                                        <i class="fa fa-heart tm-home-box-2-icon border-right"></i>
                                    </a>
                                    <a href="#" class="tm-home-box-2-link">
                                        <span class="tm-home-box-2-description">{{riddle.score}}/{{riddle.point}}</span>
                                    </a>
                                    <a href="#" class="tm-home-box-2-link">
                                        <i class="fa fa-edit tm-home-box-2-icon border-left"></i>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Total Points : {{riddle.point}}</small>
                                </div>
                            </div>
                        </div> -->
                        {% for den_riddle in den_riddles %}
                        <!-- Coming soon puzzle -->
                        {% if den_riddle.is_pending == True %}
                        <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xxs-12">
                            <div style="z-index:1; position:absolute; ;border:1px solid #D8D8D8; height:100%; min-width: 254px; max-width:255px; text-align: center;
                                display: table" id="countdown_timer_div" onload="countdown_calculator()" ;
                                data-title="{{den_riddle.starting_epoch}}">
                                <div id="countdown_timer_text" style="display: table-cell; vertical-align: middle;"></div>
                            </div>
                            <div class="tm-home-box-2"
                                style="min-width: 254px; max-width:255px; border:1px solid #D8D8D8; opacity: 0.3; position:absolute">
                                <img src="{{den_riddle.den_riddle.riddle.media.url}}" alt="image" class="img-responsive">
                                <div>
                                    <h3><strong>Puzzle # {{den_riddle.den_riddle.riddle.riddle_id}}</strong></h3
                                        style="min-height:200px; max-height:200px; overflow: auto;">
                                    <p class="tm-date" style="min-height:100px; max-height:100px; overflow: auto;">
                                        Level: {{den_riddle.den_riddle.riddle.riddle_level.name}}
                                        <br />
                                        Type: {{den_riddle.den_riddle.riddle.type_riddle.name}}
                                    </p>
                                </div>
                                <!-- Puzzle Score and all -->
                                <div class="tm-home-box-2-container">
                                    <a href="#" class="tm-home-box-2-link">
                                        <i class="fa fa-heart tm-home-box-2-icon border-right"></i>
                                    </a>
                                    <a href="#" class="tm-home-box-2-link">
                                        <span class="tm-home-box-2-description">{{den_riddle.den_riddle.riddle.score}}/{{den_riddle.den_riddle.riddle.point}}</span>
                                    </a>
                                    <a href="#" class="tm-home-box-2-link">
                                        <i class="fa fa-edit tm-home-box-2-icon border-left"></i>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Total Points : {{den_riddle.den_riddle.riddle.point}}</small>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xxs-12">
                            <div class="tm-home-box-2"
                                style="min-width: 254px; max-width:255px; border:1px solid #D8D8D8">
                                <img src="{{den_riddle.den_riddle.riddle.media.url}}" alt="image" class="img-responsive">
                                <div>
                                    <h3><strong>Puzzle # {{den_riddle.den_riddle.riddle.riddle_id}}</strong></h3
                                        style="min-height:200px; max-height:200px; overflow: auto;">
                                    <p class="tm-date" style="min-height:100px; max-height:100px; overflow: auto;">
                                        Level: {{den_riddle.den_riddle.riddle.riddle_level.name}}
                                        <br />
                                        Type: {{den_riddle.den_riddle.riddle.type_riddle.name}}
                                    </p>
                                </div>
                                <!-- Puzzle Score and all -->
                                <div class="tm-home-box-2-container">
                                    <a href="#" class="tm-home-box-2-link">
                                        <!-- <i class="fa fa-heart tm-home-box-2-icon border-right"></i> -->
                                        {% if den_riddle.riddle_attempt %}
                                        <i class="fa tm-home-box-2-icon border-right">NA</i>
                                        {% else %}
                                        <i class="fa tm-home-box-2-icon border-right">A</i>
                                        {% endif %}
                                    </a>
                                    <a href="#" class="tm-home-box-2-link">
                                        <span class="tm-home-box-2-description">{{den_riddle.user_score_riddle}}/{{den_riddle.den_riddle.riddle.point}}</span>
                                    </a>
                                    <a href="#" class="tm-home-box-2-link">
                                        <!-- <i class="fa fa-edit tm-home-box-2-icon border-left"></i> -->
                                        {% if den_riddle.riddle_solved %}
                                        <i class="fa tm-home-box-2-icon border-left">SL</i>
                                        {% elif den_riddle.riddle_attempt %}
                                        <i class="fa tm-home-box-2-icon border-left">US</i>
                                        {% else %}
                                        <i class="fa tm-home-box-2-icon border-left">NA</i>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Total Points : {{den_riddle.den_riddle.riddle.point}}</small>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row" style="margin-top: 25px;">
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- PUZZLES BLOCK ENDS -->

            <!-- SPACE DIV STARTS -->
            <div class="container">
                <div class='row mx-2 my-2 align-middle'>
                    <div class="col-sm-12 align-middle" style="height:50px">
                        <p></p>
                        <!-- <hr style="width:100%; border: 1px solid #222;" /> -->
                    </div>
                </div>
            </div>
            <!-- SPACE DIV ENDS -->
        </div>
        <!-- PUZZLES BLOCK ENDS -->
    </div>
    <!-- PUZZELS SECTION ENDS -->
    </div>
    {% endif %}

    <!-- FOOTER STARTS -->
    <footer id="sticky-footer" class="fixed-bottom  text-white-50" style="background-color: #111;">
        <div class='container' style="font-size:12px">
            <div class='row  mt-3 align-middle'>
                <div class='col-12 text-center'>
                    <ul class="list-inline">
                        <li class="list-inline-item">Built with</li>
                        <li class="list-inline-item" style="color:#E871B0">Python</li>
                        <li class="list-inline-item">.</li>
                        <li class="list-inline-item" style="color:#E871B0">Chart.js</li>
                        <li class="list-inline-item">.</li>
                        <li class="list-inline-item" style="color:#E871B0">Python - Pandas</li>
                        <li class="list-inline-item">.</li>
                        <li class="list-inline-item" style="color:#E871B0">Python - Requests (API)</li>
                        <li class="list-inline-item">.</li>
                        <li class="list-inline-item" style="color:#E871B0">Django</li>
                        <li class="list-inline-item">.</li>
                        <li class="list-inline-item" style="color:#E871B0">GitHub API</li>
                        <li class="list-inline-item">and more</li>!!
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER ENDS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


    <script>
        function countdown_calculator(starting_epoch) {

            // Update the count down every 1 second
            var x = setInterval(function () {

                //number of seconds till now since epoch
                now = new Date()  
                now = Math.round(now.getTime() / 1000)
                
                // Find the distance between now and the count down date
                var distance = starting_epoch - now;


                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (60 * 60 * 24));
                var hours = Math.floor((distance % (60 * 60 * 24)) / (60 * 60));
                var minutes = Math.floor((distance % (60 * 60)) / (60));
                var seconds = Math.floor((distance % 60));

                countdown_start = "<strong>New Riddle in <br /><br />";
                countdown_end = "</strong>";
                
                countdown = now

                //setting countdown text
                if (days == 0) {
                    if (hours == 0) {
                        if (minutes == 0) {
                            if (seconds == 0) {
                                countdown = "<p>Please refresh you page to actiate this Riddle</p>";
                            }
                            else {
                                countdown = countdown_start + seconds + "s " + countdown_end;
                            }
                        }
                        else {
                            countdown = countdown_start + minutes + "m " + seconds + "s " + countdown_end;
                        }
                    }
                    else {
                        countdown = countdown_start + hours + "h " + minutes + "m " + seconds + "s " + countdown_end;
                }}
                else {
                    countdown = countdown_start + days + "d " + hours + "h " + minutes + "m " + seconds + "s " + countdown_end;
                }
                // Display the result in the element with id="demo"
                document.getElementById("countdown_timer_text").innerHTML = countdown;

                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("countdown_timer_text").innerHTML = "EXPIRED";
                }
            }, 1000);
        };

        $("#countdown_timer_div").ready(function () {
            var starting_at = $("#countdown_timer_div").attr('data-title')
            countdown_calculator(parseInt(starting_at))
        });

    </script>
</body>

</html>