{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hunterz Den - User Registeration Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'Account/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Account/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Account/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Account/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Account/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Account/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'Account/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Account/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Account/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'Account/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Account/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Account/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #999999;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">

                <div class="flex-m w-full p-b-33">
                    <span id="message" class="txt1" style="font-size:larger">
                        {% if Flag == "Password_Reset" %}
                            Your password is successfully reset. Please sign in.<p> </p>
                        {% endif %}
                        {% if Flag == "Register" %}
                            We have sent an activation mail on your email address, <span style="color:rosybrown">{{email}}</span>. Please activate your account before signing in.<p> </p>
                        {% endif %}
                        {% if Flag == 'Login' %}
                            The account you are trying to access is inactive. Activation link is sent to tour email address, <span style="color:rosybrown">{{email}}</span>. Please activate your account before signing in or <a id="resend_actLink_a" data1="{{email}}" data2={{acc}} class="txt2 hov1" style="font-size: larger; color:salmon" href="#">click here </a>to resent the email.<p> </p>
                        {% endif %}
                        {% if Flag == 'Already_Activated' %}
                            The account associated with email address, {{email}}, is already activated. Please login to start solving amazing puzzels<p> </p>
                        {% endif %}
                        {% if Flag == 'Activated' %}
                            <span style="color:rosybrown; font-size:large">Congratulations</span>. Your account associated with email address, {{email}}, is now activated . Please sign in to start solving amazing puzzels<p> </p>
                        {% endif %}
                        {% if Flag == 'Activation_Mail_Sent' %}
                            Account Activation mail is sent again to your email address, <span style="color:rosybrown; font-size:large">{{email}}</span>. Kindly go you email and activate your account.<p> </p>
                        {% endif %}
                        {% if Flag == "PRL_Success" %}
                            <span style="font-size:larger">Unable to activate account.<br />Reason: <span style="color:red">{{error}}</span></span>
                        {% endif %}
                        {% if user.is_authenticated %}                
                            You are already logged in with email, {{user.email}}. Please <a id="resend_actLink_a" data1="{{email}}" data2={{acc}} class="txt2 hov1" style="font-size:large; color:salmon" href="logout">logout</a> to login with different user.
                        {% endif %}
                    </span>
                </div>

                {% if user.is_authenticated %}
                {% else %}
                    <form class="login100-form validate-form" method=post>
                        {% csrf_token %}
                        <span class="login100-form-title p-b-59">
                            Sign In
                        </span>

                        <div class="flex-m w-full p-b-33">
                            <span id="warning" class="txt1" style="color: red;">
                                
                            </span>
                        </div>

                        <div id="username_div" class="wrap-input100 validate-input" data-validate="Username is required">
                            <span class="label-input100">Username</span>
                            <input class="input100" type="text" id="username" name="username" placeholder="Username...">
                            <span class="focus-input100"></span>
                        </div>

                        <div id="password1_div" class="wrap-input100 validate-input" data-validate = "Password is required">
                            <span class="label-input100">Password</span>
                            <input id="password" class="input100" type="password" name="pass" placeholder="*************">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="flex-m w-full p-b-33">
                            <div class="contact100-form-checkbox">
                                <span class="txt1">
                                    <a href="forgotpassword" class="txt2 hov1">
                                        Forgot Password
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button id="btnClick" class="login100-form-btn">
                                    Sign In
                                </button>
                            </div>

                            <a href="register" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                                Sign Up
                                <i class="fa fa-long-arrow-right m-l-5"></i>
                            </a>
                        </div>
                    </form>
                {% endif %}
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{% static 'Account/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Account/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Account/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'Account/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Account/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Account/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'Account/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Account/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'Account/js/main.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'Account/js/md5.js' %}"></script>
	
	<script>
        // RESEND ACTIVIATION LINK
        $("#resend_actLink_a").click(function(e){
            data = {
                'email' : $("#resend_actLink_a").attr('data1'),
                'act_link' : $("#resend_actLink_a").attr('data2')
            }
            $.ajax({
                type: "GET",
                url: "resent_activation_mail",
                data: data,
                dataType: 'json',
                success: function(result) {
                    if(result.success == true){
                        colsole.log("SUCCESS")
                        link = "login?mailsent=True"
                    }
                    else {
                        //window.location.href = "login"
                        document.getElementById('warning').innerHTML = result.error
                        colsole.log("Failed")
                    }
                }
            });
		});

		// ON SUBMIT FORM
		$("#btnClick").click(function(e){
			if($("#password").val().length > 0 && $("#username").val().length > 0){
				e.preventDefault();
				
				data = {
					'username' : $("#username").val(),
					'password' : md5($("#password").val())
                };
                
				$.ajax({
					type: "POST",
					url: "user_login",
					headers: {'X-CSRFToken': '{{ csrf_token }}'}, // for csrf token
					data: data,
					dataType: 'json',
					success: function(result) {
						if(result.success == true){
							window.location.href = "/hunter/index"
                        }
                        if(result.success == 'inactive'){
                            console.log('inactive')
                            link = "login?email="+result.email+"&base=login&acc="+result.activation_code
                            console.log(link)
                            window.location.href = link
                        }
						else {
                            //window.location.href = "login"
							document.getElementById('warning').innerHTML = result.error
						}
					}
				});
			}
		})
	</script>
</body>
</html>
