{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    {% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{% static 'Account/images/icons/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Account/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Account/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Account/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Account/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Account/css/sid.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" rel="stylesheet" type="text/css" />

</head>

<body style="background-color: #999999;">
	
    {% block body %}

    {% endblock %}

	<!-- ALERT JS -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="{% static 'Account/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'Account/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'Account/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Account/js/main.js' %}"></script>
    <script src="{% static 'Account/js/md5.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>