{% extends 'bookstore/master.html' %}
{% load static %}
{% block css %}
<style>
  .col-md-3 {
    display: inline-block;
    margin-left: -4px;
  }

  .card-text-bottom {
    height: 15%;
    align-items: baseline;
    vertical-align: bottom;
  }

  .card-text-top {
    height: 85%;
  }

  .card-body {
    height: 250px;
  }

  .carousel-indicators li {
    background-color: #999;
  }

  .carousel-indicators .active {
    background-color: rgb(53, 53, 53);
  }

  .carousel-indicators {
    bottom: -10px;
  }

  .card .card-img-top {
    max-height: 325px;
  }

  .card .card-text {
    font-size: 14px;
    text-align: justify;
    color: dimgray
  }

  .carousel-control.left {
    left: 0;
    margin-left: 0;
  }

  .carousel-control-prev {
    position: absolute;
    left: -75px;
    width: 8%;
    /* change this value to required width */
    font-size: 20px;
  }

  .carousel-control-next {
    position: absolute;
    right: -75px;
    width: 8%;
    /* change this value to required width */
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}

<div class='container my-3'>
  {% for product, range in all_products %}
  <h3> Genre: {{product.first.category}}({{product|length}})</h3>
  <div class='row my-3'>
    <div id='carousel_categorised_product{{forloop.counter}}' class='carousel slide' data-ride='carousel'>

      <!-- Indicators for Categorised Items Carousel STARTs -->
      <ol class="carousel-indicators">
        {% for i in range %}
        <li data-target="#carousel_categorised_product{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
        {% endfor %}
      </ol>
      <!-- Indicators for Categorised Items Carousel ENDs -->

      <!-- Slides for Categorised Items Carousel STARTs -->
      <div class='container carousel-inner  no-padding'>
        <div id="categorised_product_slide{{0}}" class='carousel-item active'>
          <div clas="row"></div>
          {% for prod in product %}
          <div style="display: inline-block;">
            <div class="card" style="width: 17rem;">
              <img src="{{prod.image.url}}" class="card-img-top" id="imagepr{{prod.id}}" alt="{{prod.name}}" />
              <div class="card-body" style="height: 250px;">
                <div class="card-text-top">
                  <h6 id="namepr{{prod.id}}" title="{{prod.name}}" class="card-title">
                    {% if prod.name|length < 20 %}
                    {{prod.name}}
                    {% else %}
                    {{prod.name|slice:"0:30"}}...
                    {% endif %}
                  </h6>
                  <p class="card-text" style="font-size:14px; text-align: justify; color:dimgray" id="descpr{{prod.id}}" title="{{prod.desc}}" >
                    {% if prod.desc|length < 100 %}
                    {{prod.desc}}
                    {% else %}
                    {{prod.desc|slice:"0:97"}}...
                    {% endif %}
                    <br />
                    <span style="color: red;">Discount = <span id="discountpr{{prod.id}}">{{prod.discount}}</span>%</span>
                    <br />
                    Price = $<span id="pricepr{{prod.id}}">{{prod.price}}</span>
                  </p>
                </div>
                <div class="card-text-bottom text-right">
                  <span id="sppr{{prod.id}}" class="sppr">
                      <img id="pluspr{{prod.id}}" src="{% static 'bookstore/images/add_to_cart.png' %}" width="25" class="plus" title="Add To Cart"  alt="Add To Cart" 
                              onmouseover="changebutton_Hover(this)" onmouseout="changebutton_Hover_Out(this)" />
                  </span>
                  &emsp;
                  <a href="product?id={{prod.id}}">
                    <img src="{% static 'bookstore/images/view_product.png' %}" width="25"  title="View Product"  alt="View Product" 
                            onmouseover="changebutton_Hover(this)" onmouseout="changebutton_Hover_Out(this)" />
                  </a>
                  &emsp;
                  <span id="spWLpr{{prod.id}}" class="spWLpr">
                    <img src="{% static 'bookstore/images/add_to_wishlist.png' %}" width="25" class="addWL" id="addWLpr{{prod.id}}" title="Add To Wishlist"  alt="Add To Wishlist" 
                            onmouseover="changebutton_Hover(this)" onmouseout="changebutton_Hover_Out(this)" />
                  </span>
                </div>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div>
        <div id='carousel_categorised_product{{forloop.counter}}' class='carousel-item'>
          {% endif %}

          {% endfor %}

        </div>
      </div>
      <!-- Slides for Categorised Items Carousel ENDs -->

      <!-- Icons for Categorised Items Carousel STARTSs -->
      <a class="carousel-control-prev" href="#carousel_categorised_product{{forloop.counter}}" data-slide="prev"
        role="button">
        <span class="carousel-control-prev-icon" style="background-color:dimgrey" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class='carousel-control-next' href="#carousel_categorised_product{{forloop.counter}}" data-slide="next"
        role="button">
        <span class="carousel-control-next-icon" style="background-color:dimgray" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!-- Icons for Categorised Items Carousel ENDs -->
    </div>
  </div>
  {% endfor %}
</div>

<!-- Categorised Item Carousel  -->


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'bookstore/js/javascript.js' %}"></script> 
<script>
  if (localStorage.getItem('cart') == null) {
    var cart = {};
    updateLocalStorageWithCart(cart);
  }
  else {
    add_cart_button();
    popoverUpdate_cart();
  }

  addToWishlist_initialize()

  // updating total items added to cart and displaying in cart popover
  function cart_items() {
    document.getElementById('cart').innerHTML = numberOfItemsInCard();
    popoverUpdate_cart();
  }

  // url for plus button image
  function staticPlusImage(){
    return "{% static 'bookstore/images/add_to_cart_plus.png' %}"
  }


  // url for minus button image
  function staticMinusImage(){
    return "{% static 'bookstore/images/add_to_cart_minus.png' %}"
  }

  // url for add to cart button image
  function staticAddToCartImage(){
    return "{% static 'bookstore/images/add_to_cart.png' %}"
  }

  // url for Remove From Wishlist button
  function staticAddedToWishlistImage(){
    return "{% static 'bookstore/images/added_to_wishlist.png' %}"
  }

  // url for Add To Wishlist button
  function staticAddToWishlistImage(){
    return "{% static 'bookstore/images/add_to_ishlist.png' %}"
  }

</script>
{% endblock %}