{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'home/css/alert_sid.css' %}" rel="stylesheet">
    
    <title>Siddhant - Bookstore</title>
    <style>
        .popover-div{
          font-size:11px;
          color: dimgray
        }
    </style>
    {% block css %}

    {% endblock %}

  </head>
  <body>
      {% if MOBILE_TABLET_FLAG == 'true' %}
      <div class="alert_sid">
        <span class="closebtn_sid" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>The UI might look out of place on mobile</strong>.... This App is best viewed on Desktop or Laptop.
      </div>
      {% endif %}
      <div>
      <nav class="navbar navbar-default navbar-static-top navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="http://www.geekysid.com/bookstore/">BookStore</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="http://www.geekysid.com">GeekySid <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="orders">Order Status <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button type="button" id="popwishList" class="btn btn-secondary mx-2 popwishlist" data-container="body" data-html="true" data-placement="bottom">
              <!-- Wishlist (<span id='cart'>0</span>) -->
              <img src="{% static 'bookstore/images/wishlist.png' %}" id='wishList' width="30px" onmouseover="changebutton_Hover(this)" onmouseout="changebutton_Hover_Out(this)" onclick='popoverClicked(this)' title="Wishlist" alt='0' />
            </button>
            <button type="button" id="popcart" class="btn btn-secondary mx-2 popcartcls" data-container="body" data-html="true" data-placement="bottom" >
              <!-- Cart (<span id='cart'>0</span>) -->
              <img src="{% static 'bookstore/images/mycart.png' %}" id='cart' width="30px" onmouseover="changebutton_Hover(this)" onmouseout="changebutton_Hover_Out(this)" onclick='popoverClicked(this)' title="cart" alt='0' />
            </button>
          </div>
      </nav>   
    </div>
    <div id="AddToCart_Modal">
        
    </div>
    <!-- This is where different pages content will go -->
    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <footer id="sticky-footer" class="fixed-bottom  text-white-50" style="background-color: #111;">
      <div class='container' style="font-size:12px">
        <div class='row  mt-3 align-middle'>
          <div class='col-3'>
            &copy 2020 - Siddhant Shah
          </div>
          <div class='col-9 text-right'>
            <ul class="list-inline">
              <li class="list-inline-item">Built with</li>
              <li class="list-inline-item" style="color:dodgerblue">Python</li>
              <li class="list-inline-item">.</li>
              <li class="list-inline-item" style="color:dodgerblue">Django</li>
              <li class="list-inline-item">.</li>
              <li class="list-inline-item" style="color:dodgerblue">Javascript</li>
              <li class="list-inline-item">.</li>
              <li class="list-inline-item" style="color:dodgerblue">HTML/CSS</li>
              <li class="list-inline-item">.</li>
              <li class="list-inline-item" style="color:dodgerblue">Bootstrap</li>
              <li class="list-inline-item">and more</li>!!
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer -->
    <br />
    <br />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}
    
  </body>
</html>