{% extends 'bookstore/master.html' %}
{% load static %}
{% block css %}
<style>
    body {
        height: 100%;
        min-height:100%
    }
</style>
{% endblock %}
{% block content %}
{% if checkoutStatus == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id='successAlert'>
        <strong>Success: </strong> Your order was succesfully placed. Your <strong>Order Number is {{orderid}}</strong>. Please user this and your email to track the status of your order.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
{% endif %}
    <div class="container mt-4" style=" color: dimgrey; font-size:14px">
        <!-- Message -->
        <div class="row my-2 text-center">
            <div class="col-md-12" style="font-size: 16px">
                <strong>Please enter your email and order number to check status</strong>
            </div>
        </div>
        <!-- Asking for email and address -->
        <div class="row my-3">
            <div class="col-md-12 d-flex justify-content-center">
                        
                {% if checkoutStatus == 'success' %}
                <form class="form-inline" method="post" action=""> {% csrf_token %}
                    <div class="form-group mb-2">
                      <label for="emailid" class="sr-only">Email</label>
                      
                      <input type="email" class="form-control" id="emailadd" name="emailadd" value="{{emailadd}}" required>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                      <label for="number" class="sr-only">Order Id</label>
                      <input type="number" class="form-control" id="orderid" name="orderid" value="{{orderid}}" required>
                    </div>
                    <div class="form-group mx-sm-3 mb-1">
                        <button type="submit" class="btn btn-outline-secondary mb-2">Check Status</button>
                    </div>
                </form>

                {% else %}
                <form class="form-inline" method="post" action=""> {% csrf_token %}
                    <div class="form-group mb-2">
                      <label for="emailid" class="sr-only">Email</label>
                      <input type="email" class="form-control" id="emailadd" name="emailadd" placeholder="email@example.com" required>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                      <label for="number" class="sr-only">Order Id</label>
                      <input type="number" class="form-control" id="orderid" name="orderid" placeholder="Order Number" required>
                    </div>
                    <div class="form-group mx-sm-3 mb-1">
                        <button type="submit" class="btn btn-outline-secondary mb-2">Check Status</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
        <!-- Displaying result -->
        
        {% if order_obj %}
        <div class="accordion" id="accordionExample">
            <!-- Order Status -->
            <div class="card" style=" color: dimgrey; font-size:14px">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne" style=" color: #666666;">
                            <b>Status for Order # {{order_obj}}</b>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="conatiner" style="font-size:14px; color:dimgray; text-align:justify">
                            {% if not ord_status_error %}
                                <ul class="list-unstyled">
                                    <div class="row">
                                        <div class="col-md-12 mx-2">
                                            <table style="width:100%; text-align:center; color:black">
                                                <tr>
                                                    <td width="8.33%">
                                                        <strong class="">Order Number</strong>
                                                    </td>
                                                    <td width="16.6%">
                                                        <strong>Status Date</strong>
                                                    </td>
                                                    <td width="25%">
                                                        <strong>Status</strong>
                                                    </td>
                                                    <td width="41%">
                                                        <strong>Remark</strong>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <hr />
                                    {% for status in ord_stat_obj %}
                                    <div class="row mb-3 ">
                                        <div class="col-md-12 mx-2">
                                            <table style="width:100%; text-align:center; color:black">
                                                <tr>
                                                    <td width="8.33%" style="vertical-align:top; ">{{status.order.order_id}}</td>
                                                    <td width="16.6%" style="vertical-align:top; ">{{status.timestamp}}</td>
                                                    <td width="25%" style="vertical-align:top; ">{{status.status_desc}}</td>
                                                    <td width="41%" style="text-align:left; vertical-align:top; ">{{status.remark}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    {% if not forloop.counter.last %}
                                    <hr />
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    {{ ord_status_error }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Order Details -->
            <div class="card" style=" color: dimgrey; font-size:14px">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne" style="color: #666666;">
                            <b>Details for Order # {{order_obj}}</b>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="conatiner" style="font-size:14px; color:dimgray; text-align:justify">
                            {% if not prod_details_error %}
                            <ul class="list-unstyled">
                                <div class="row">
                                    <div class="col-md-12 mx-2">
                                        <table style="width:100%; text-align:center; color:black">
                                            <tr>
                                                <td width="50%"><h6 class="">Product Name</h6></td>
                                                <td width="8.3%"><h6>Price</h6></td>
                                                <td width="16.7%"><h6>Discount</h6></td>
                                                <td width="16.7%"><h6>Quantity</h6></td>
                                                <td width="8.3%"><h6>Total</h6></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <hr />
                                {% for product in ord_prod_obj %}
                                <div class="row my-2">
                                    <div class="col-md-12 mx-2">
                                        <table style="width:100%; text-align:center; color:black">
                                            <tr>
                                                <td width="50%" style="vertical-align: top; text-align:left">
                                                    <li class="media">
                                                        <a href="product?id={{product.product.product_id}}"><img src="{{product.image}}" width="70px"  height="100px" class="mr-3" alt="..." /></a>
                                                        <div class="media-body">
                                                            <b>{{product.product.name}}</b>
                                                            <br />
                                                            {{product.product.desc}}
                                                        </div>
                                                    </li>
                                                </td>
                                                <td width="8.3%" style="vertical-align: top;">
                                                    ${{product.price}}
                                                </td>
                                                <td width="16.7%" style="vertical-align: top;">
                                                    {{product.discount}}%
                                                </td>
                                                <td width="16.7%" style="vertical-align: top;">
                                                    {{product.quantity}}
                                                </td>
                                                <td width="8.3%" style="vertical-align: top;">
                                                    ${{ product.total }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <hr />
                                {% if not forloop.counter.last %}
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    {{ prod_details_error }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            {% if order_error %}
                <div class="alert alert-danger" role="alert">
                    {{ order_error }}
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'bookstore/js/javascript.js' %}"></script> 
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
        updateLocalStorageWithCart(cart);
    }
    else {
        // add_cart_button();
        popoverUpdate_cart();
    }
    
    addToWishlist_initialize()
    
    // updating total items added to cart and displaying in cart popover
    function cart_items() {
        document.getElementById('cart').innerHTML = numberOfItemsInCard();
        popoverUpdate_cart();
    }
    
    // url for plus button image
    function staticPlusImage(){
        return "{% static 'bookstore/images/add_to_cart_plus.png' %}"
    }
    
    
    // url for minus button image
    function staticMinusImage(){
        return "{% static 'bookstore/images/add_to_cart_minus.png' %}"
    }
    
    // url for add to cart button image
    function staticAddToCartImage(){
        return "{% static 'bookstore/images/add_to_cart.png' %}"
    }
    
    // url for Remove From Wishlist button
    function staticAddedToWishlistImage(){
        return "{% static 'bookstore/images/added_to_wishlist.png' %}"
    }
    
    

    // url for Add To Wishlist button
    function staticAddToWishlistImage(){
        return "{% static 'bookstore/images/add_to_wishlist.png' %}"
    }
</script>
{% endblock %}
